{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}


    <div class="bg-light p-5 rounded-lg m-3"
         style="background-image: url('{% static 'images/home_banner.png' %}');

                 border-radius: 20px;
                 border: 1px solid white;
                 margin-top: 7% !important;
                 margin-left: 6% !important;
                 margin-right: 6% !important;
                 height: 400px;
                 background-size: 100% 100%">


   </div>

    {% if posts|length >= 6 %}
        <div class="col-6 text-right">
            <a class="btn btn-primary" href="#carouselExampleIndicators2" role="button" data-slide="prev"
            style="position:relative; padding: 5px 5px; left: -27vw; top: 10vh;display: inline-block;background: transparent;border:none;box-shadow: none">
                <img src="{% static 'images/left_arrow.png' %}" width="60px" height= "60px"/>
            </a>
            <a class="btn btn-primary" href="#carouselExampleIndicators2" role="button" data-slide="next"
            style="position:relative; padding: 5px 5px; right: -37.5vw; top: 10vh;display: inline-block;background: transparent;border:none;box-shadow: none">
                <img src="{% static 'images/right_arrow.png' %}" width="60px" height= "60px"/>
            </a>
        </div>
    {% endif %}

            <section class="pt-5 pb-5">
  <div class="container" style="margin-top: -18%">
    <div class="row">
        <div class="label" style="margin-left: 40.5%;">
            <h3  style="text-shadow: 3px 3px black;font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size:35px;color: white" class="mb-3">Latest News </h3>
        </div>
        <div class="col-9" style="left: 9.5vw">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% if posts|length >= 3 %}
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.0.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.0.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.0.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.1.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.1.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.1.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.2.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.2.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.2.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% if posts|length >= 6 %}
                      <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.3.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.3.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.3.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.4.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.4.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.4.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.5.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.5.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.5.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    {% if posts|length >= 9 %}
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card" style="min-height: 10px">
                                    {% image posts.6.banner_image fill-600x300 as banner  %}
                                    <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                    <div class="card-body">
                                        <h4 class="card-title">{{posts.6.title}}</h4>
                                        <p class="card-text">Snippet la la li</p>
                                        <a href="{{ posts.6.url }}" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    {% image posts.7.banner_image fill-600x300 as banner  %}
                                    <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                    <div class="card-body">
                                        <h4 class="card-title">{{posts.7.title}}</h4>
                                        <p class="card-text">Snippet la la li</p>
                                        <a href="{{ posts.7.url }}" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    {% image posts.8.banner_image fill-600x300 as banner  %}
                                    <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                    <div class="card-body">
                                        <h4 class="card-title">{{posts.8.title}}</h4>
                                        <p class="card-text">Snippet la la li</p>
                                        <a href="{{ posts.8.url }}" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% endif %}
                        {% endif %}

                    {% else %}
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card" >
                                        {% image posts.0.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.0.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.0.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        {% image posts.1.banner_image fill-600x300 as banner  %}
                                        <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                                        <div class="card-body">
                                            <h4 class="card-title">{{posts.1.title}}</h4>
                                            <p class="card-text">Snippet la la li</p>
                                            <a href="{{ posts.1.url }}" class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>



    {% if posts|length != 3 and posts|length != 6 and posts|length != 9 %}
                            <h1 style="text-align: center">READ MORE</h1>
                        {% endif %}

    <div class="row" style="margin-left: 20%">
        {% for post in paginated_posts  %}

                <div class="card" style="width: 21%; margin-left: 2.5%; margin-bottom: 10px;">
                {% image post.banner_image fill-600x300 as banner  %}
                <img class="img-fluid" alt="100%x280" src="{{ banner.url }}">
                <div class="card-body">
                    <h4 class="card-title">{{post.title}}</h4>
                    <p class="card-text">Snippet la la li</p>
                    <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
                </div>
            </div>
             {% if forloop.counter|divisibleby:"3" %}
            <div class="col-md-3 mb-3">
            </div>
            {% endif %}
        {% endfor %}
    </div>


    {% if paginated_posts.paginator.num_pages > 1 %}
                                <div class="pagination" style="margin-left: 45%;">
                                    {% if paginated_posts.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ paginated_posts.previous_page_number }}" class="page-link">
                                            <span>&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for page_num in  paginated_posts.paginator.page_range %}
                                        <li class="page-item {% if page_num == paginated_posts.number %} active {% endif %}">
                                            <a href="?page={{ page_num }}" class="page-link">
                                                {{ page_num }}
                                            </a>
                                        </li>
                                    {% endfor %}


                                    {% if paginated_posts.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ paginated_posts.next_page_number }}" class="page-link">
                                            <span>&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </div>
                            {% endif %}






{% endblock %}

