{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags%}

{% block content %}

    {% image self.banner_image fill-1200x300 as banner  %}
    <img src="{{ banner.url }}" alt="{{banner.alt}}" style="margin-top:7%;width: 100%;height: auto">
    <div class="container mt-5 mb-5">
    <div class="text-center">
        <h1> {{ self.title }}</h1>
    </div>
    </div>

    <div style="margin-left: 20%; margin-right: 20%;alignment: center">
    {% for block in self.content %}
        {% include_block block %}
    {% endfor %}
</div>

{% endblock %}